<div id="users" class="profile-active">
  <p class="pull-right"><%= link_to t("buttons.new"),
    new_admin_user_path, class: "btn btn-success" %></p>
  <table class="table table-striped tbl-user">
    <thead>
      <tr>
        <th class="name"><%= t "user.table.name" %></th>
        <th class="email"><%= t "user.table.email" %></th>
        <th class="role"><%= t "user.role" %></th>
        <th class="action"><%= t "user.labels.action" %></th>
      </tr>
    </thead>
    <%= render @users %>
  </table>
</div>

<table class="table table-striped" id="tbl-course" width="100%">
  <thead>
    <tr>
      <th class="th-name">
        name
        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="ic ic-filter"></i>
        </a>
        <%= render "static_pages/filter_dropdown", type: "name", column: 0 %>
      </th>
      <th class="th-email">
        email
        <i class="ic ic-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
        <%= render "static_pages/filter_dropdown", type: "email", column: 1 %>
      </th>

      <th class="th-role">
        Role
        <i class=" ic ic-filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
        <%= render "static_pages/filter_dropdown", type: "role", column: 1 %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "static_pages/course", collection: @users, as: :course %>
  </tbody>
</table>
